<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>classOfStudent</servlet-name>
        <servlet-class>Servlet.ClassOfStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassServlet</servlet-name>
        <servlet-class>Servlet.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listStudentOfCps</servlet-name>
        <servlet-class>Servlet.ListStudentOfCps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherInfo</servlet-name>
        <servlet-class>Servlet.TeacherInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentOfClass</servlet-name>
        <servlet-class>Servlet.ListStudentOfClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EachStudentHomeServlet</servlet-name>
        <servlet-class>Servlet.EachStudentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfoServlet</servlet-name>
        <servlet-class>Servlet.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailGrade</servlet-name>
        <servlet-class>Servlet.CourseDetailGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInfoServlet</servlet-name>
        <servlet-class>Servlet.AdminInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>classOfStudent</servlet-name>
        <url-pattern>/classofstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassServlet</servlet-name>
        <url-pattern>/ChangePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listStudentOfCps</servlet-name>
        <url-pattern>/listStudentOfCps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentOfClass</servlet-name>
        <url-pattern>/ListStudentOfClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EachStudentHomeServlet</servlet-name>
        <url-pattern>/EachStudentHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfoServlet</servlet-name>
        <url-pattern>/studentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherInfo</servlet-name>
        <url-pattern>/teacherInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailGrade</servlet-name>
        <url-pattern>/CourseDetailGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInfoServlet</servlet-name>
        <url-pattern>/AdminInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>JSP/Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
