<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>classOfStudent</servlet-name>
        <servlet-class>Servlet.Student.ClassOfStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassServlet</servlet-name>
        <servlet-class>Servlet.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherInfo</servlet-name>
        <servlet-class>Servlet.Teacher.TeacherInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentOfClass</servlet-name>
        <servlet-class>Servlet.Student.ListStudentOfClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EachStudentHomeServlet</servlet-name>
        <servlet-class>Servlet.Student.EachStudentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfoServlet</servlet-name>
        <servlet-class>Servlet.Student.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailGrade</servlet-name>
        <servlet-class>Servlet.Student.CourseDetailGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInfoServlet</servlet-name>
        <servlet-class>Servlet.Admin.AdminInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adAddUser</servlet-name>
        <servlet-class>Servlet.Admin.adAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserByRole</servlet-name>
        <servlet-class>Servlet.Admin.AddUserByRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCourses</servlet-name>
        <servlet-class>Servlet.Admin.ToCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCourse</servlet-name>
        <servlet-class>Servlet.Admin.addCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCourse</servlet-name>
        <servlet-class>Servlet.Admin.deleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCourse</servlet-name>
        <servlet-class>Servlet.Admin.updateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adUserList</servlet-name>
        <servlet-class>Servlet.Admin.adUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentOfCpsServlet</servlet-name>
        <servlet-class>Servlet.ListStudentOfCpsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOptions</servlet-name>
        <servlet-class>Servlet.Admin.AdminOptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adCPSList</servlet-name>
        <servlet-class>Servlet.Admin.adCPSList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCPS</servlet-name>
        <servlet-class>Servlet.Admin.deleteCPS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCPS</servlet-name>
        <servlet-class>Servlet.Admin.InsertCPS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherByCourse</servlet-name>
        <servlet-class>Servlet.Admin.teacherByCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCPSToList</servlet-name>
        <servlet-class>Servlet.Admin.addCPSToList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adEnrolledList</servlet-name>
        <servlet-class>Servlet.Admin.adEnrolledList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>Servlet.Admin.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>Servlet.Admin.updateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEnrolledList</servlet-name>
        <servlet-class>Servlet.Admin.adEnrolledList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEnrolled</servlet-name>
        <servlet-class>Servlet.Admin.addEnrolled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassByMajor</servlet-name>
        <servlet-class>Servlet.Admin.ClassByMajor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPSByClass</servlet-name>
        <servlet-class>Servlet.Admin.CPSByClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertEnrolled</servlet-name>
        <servlet-class>Servlet.Admin.insertEnrolled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>majorList</servlet-name>
        <servlet-class>Servlet.Admin.majorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMajor</servlet-name>
        <servlet-class>Servlet.Admin.updateMajor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMajor</servlet-name>
        <servlet-class>Servlet.Admin.deleteMajor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMajor</servlet-name>
        <servlet-class>Servlet.Admin.addMajor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateclass</servlet-name>
        <servlet-class>Servlet.Admin.UpdateClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addclass</servlet-name>
        <servlet-class>Servlet.Admin.AddClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteclasss</servlet-name>
        <servlet-class>Servlet.Admin.DeleteClass</servlet-class>
    </servlet>
    <servlet>
        <description>weeeeeeeeeeeeee</description>
        <servlet-name>classes</servlet-name>
        <servlet-class>Servlet.Admin.ClassList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adSemesterList</servlet-name>
        <servlet-class>Servlet.Admin.adSemesterList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateActiveSemester</servlet-name>
        <servlet-class>Servlet.Admin.updateActiveSemester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSemester</servlet-name>
        <servlet-class>Servlet.Admin.deleteSemester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSemester</servlet-name>
        <servlet-class>Servlet.Admin.addSemester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetail</servlet-name>
        <servlet-class>Servlet.Admin.ClassDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentWithClassMajor</servlet-name>
        <servlet-class>Servlet.Admin.StudentWithClassMajor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentToClass</servlet-name>
        <servlet-class>Servlet.Admin.AddStudentToClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>Servlet.Admin.DeleteStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>classOfStudent</servlet-name>
        <url-pattern>/classofstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassServlet</servlet-name>
        <url-pattern>/ChangePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentOfClass</servlet-name>
        <url-pattern>/ListStudentOfClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EachStudentHomeServlet</servlet-name>
        <url-pattern>/EachStudentHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfoServlet</servlet-name>
        <url-pattern>/studentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherInfo</servlet-name>
        <url-pattern>/teacherInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailGrade</servlet-name>
        <url-pattern>/CourseDetailGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInfoServlet</servlet-name>
        <url-pattern>/AdminInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adAddUser</servlet-name>
        <url-pattern>/adAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserByRole</servlet-name>
        <url-pattern>/AddUserByRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCourses</servlet-name>
        <url-pattern>/ToCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCourse</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCourse</servlet-name>
        <url-pattern>/updateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adUserList</servlet-name>
        <url-pattern>/adUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentOfCpsServlet</servlet-name>
        <url-pattern>/listStudentOfCps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOptions</servlet-name>
        <url-pattern>/AdminOptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adCPSList</servlet-name>
        <url-pattern>/adCPSList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCPS</servlet-name>
        <url-pattern>/deleteCPS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherByCourse</servlet-name>
        <url-pattern>/teacherByCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCPSToList</servlet-name>
        <url-pattern>/addCPSToList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCPS</servlet-name>
        <url-pattern>/InsertCPS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adEnrolledList</servlet-name>
        <url-pattern>/adEnrolledList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEnrolledList</servlet-name>
        <url-pattern>/addEnrolledList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEnrolled</servlet-name>
        <url-pattern>/addEnrolled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassByMajor</servlet-name>
        <url-pattern>/ClassByMajor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPSByClass</servlet-name>
        <url-pattern>/CPSByClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertEnrolled</servlet-name>
        <url-pattern>/insertEnrolled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>majorList</servlet-name>
        <url-pattern>/majorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMajor</servlet-name>
        <url-pattern>/updateMajor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMajor</servlet-name>
        <url-pattern>/deleteMajor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMajor</servlet-name>
        <url-pattern>/addMajor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateclass</servlet-name>
        <url-pattern>/UpdateClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addclass</servlet-name>
        <url-pattern>/AddClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteclasss</servlet-name>
        <url-pattern>/DeleteClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>classes</servlet-name>
        <url-pattern>/ClassList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adSemesterList</servlet-name>
        <url-pattern>/adSemesterList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateActiveSemester</servlet-name>
        <url-pattern>/updateActiveSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSemester</servlet-name>
        <url-pattern>/deleteSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSemester</servlet-name>
        <url-pattern>/addSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetail</servlet-name>
        <url-pattern>/ClassDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentWithClassMajor</servlet-name>
        <url-pattern>/StudentWithClassMajor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentToClass</servlet-name>
        <url-pattern>/AddStudentToClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>JSP/Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
