/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 10, 2023, 12:01:01 AM
    Author     : An Nguyen
*/
body{
    background-image: url("../image/anh1.jpg");
}
.ctr1{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 10px burlywood solid;
    box-shadow: 10px 10px 6px 6px slategray;
    background-color: bisque;
}
.ctr2{
    margin-top: 5%;
}

.ctr2:hover {
    color: bisque;
    background: rosybrown;
}

p{
    color: red;
}
